canvas {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.animated-backgrounds {
  top: 120vh;
  position: relative;
  opacity: 100%;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  /* background: #fff; */
  /* box-shadow: 8px 65px 55px 24px #ffffff inset; */
  /* box-shadow: 50px 50px 113px #000 inset,-50px -50px 110px #000 inset; */
  transition: 4s;
  /* transform: rotateZ(270deg); */
}